.panel {
  --width: calc(100vw - calc(var(--base-unit) * 4));
  background-color: var(--dp-01);
  box-shadow: var(--shadow-dp-01);
  border-radius: calc(var(--base-unit) * 1);
  height: fit-content;
  max-width: var(--width);
  min-width: var(--width);
  position: relative;
  width: var(--width);
}

.panel.transparent {
  background-color: transparent;
  box-shadow: none;
}

.panel-heading {
  align-items: center;
  background-color: transparent;
  border-radius: calc(var(--base-unit) * 1);
  display: flex;
  font-size: calc(var(--base-unit) * 2);
  justify-content: space-between;
  padding: calc(var(--base-unit) * 1);
  text-align: left;
  user-select: none;
}

.panel-content-visibility-button {
  background-color: transparent;
  border: none;
  border-radius: calc(var(--base-unit) * 1);
  cursor: pointer;
  padding: calc(var(--base-unit) * 1);
}

.panel-content[data-is-visible='false'] {
  display: none;
}
