.switch {
  align-items: center;
  display: flex;
  height: 18px;
  justify-content: center;
  min-width: 35px;
  position: relative;
  width: 35px;
}

.switch input {
  height: 100%;
  width: 100%;
}

.switch-slider {
  background-color: var(--bg-color-quaternary);
  border: 1px solid var(--border-color-primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.switch-slider:before {
  background-color: white;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 1px;
  content: "";
  height: 14px;
  left: 1.25px;
  position: absolute;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  width: 14px;
}

input:checked + .switch-slider {
  background-color: var(--green-dark);
  border-color: transparent;
}

input:checked + .switch-slider:hover,
input:checked:focus + .switch-slider {
  background-color: var(--green-medium);
}

input:not(:checked) + .switch-slider:hover,
input:not(:checked):focus + .switch-slider {
  background-color: rgb(22, 22, 22);
}

input:checked + .switch-slider:before {
  transform: translateX(17px);
  -webkit-transform: translateX(17px);
  -moz-transform: translateX(17px);
  -ms-transform: translateX(17px);
  -o-transform: translateX(17px);
}
