section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: calc(var(--base-spacing) * 3);
  width: 100%;
}

section.first {
  margin-top: calc(var(--navbar-height) + calc(var(--base-spacing) * 3));
}

section.last {
  margin-bottom: calc(
    var(--footer-height-unstacked) + calc(var(--base-spacing) * 3)
  );
}

@media only screen and (max-width: 750px) {
  section.last {
    margin-bottom: calc(
      var(--footer-height-stacked) + calc(var(--base-spacing) * 3)
    );
  }
}

@media only screen and (max-width: 600px) {
  section {
    margin-bottom: 30px;
  }

  section.first {
    margin-top: calc(var(--navbar-height) + 30px);
  }

  section.first.shifted-down {
    margin-top: calc(
      var(--navbar-height) + var(--navbar-expandable-responsive-menu-height) +
        30px
    );
  }

  section.last {
    margin-bottom: 142.16px;
  }
}

@media only screen and (max-width: 350px) {
  section {
    margin-bottom: 15px;
  }

  section.first {
    margin-top: calc(var(--navbar-height) + 15px);
  }

  section.last {
    margin-bottom: 127.16px;
  }
}

.container {
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border-color-secondary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: fit-content;
  max-width: 90%;
  min-width: 250px;
  position: relative;
  width: var(--page-max-width);
}

.container-heading {
  align-items: center;
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--font-color-primary);
  display: flex;
  font-family: var(--font-family-primary);
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: normal;
  justify-content: space-between;
  padding: calc(var(--base-spacing) * 1.5);
  text-align: left;
}

.toggle-visibility-button {
  background-color: transparent;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: var(--font-color-quinary);
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-size: 60%;
  padding: 5px;
}
