@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap");

html {
  font-size: 100%;
  overflow-x: hidden;
}

:root {
  --bg-color-primary: rgb(42, 42, 42);
  --bg-color-secondary: rgb(34, 34, 34);
  --bg-color-tertiary: rgb(26, 26, 26);
  --bg-color-quaternary: rgb(18, 18, 18);
  --bg-color-quinary: rgb(10, 10, 10);

  --bg-color-content-panel: var(--bg-color-tertiary);

  --border-color-primary: rgb(85, 85, 85);
  --border-color-secondary: rgb(45, 45, 45);

  --font-color-primary: white;
  --font-color-secondary: rgb(230, 230, 230);
  --font-color-tertiary: rgb(205, 205, 205);
  --font-color-quaternary: rgb(180, 180, 180);
  --font-color-quinary: rgb(155, 155, 155);

  --green-light: rgb(112, 224, 0);
  --green-medium: rgb(65, 130, 0);
  --green-dark: rgb(50, 100, 0);

  --font-family-primary: "Roboto", sans-serif;
  --font-family-game: "Inconsolata", monospace, sans-serif;

  --page-max-width: 800px;
  --base-font-size: 1em;
  --base-spacing: 1rem;

  font-family: var(--font-family-primary);
}

/* @media only screen and (max-width: 7680px) {
  :root {
    --page-max-width: 3200px;
    --base-font-size: 4em;
    --base-spacing: 4rem;
  }
}

@media only screen and (max-width: 3840px) {
  :root {
    --page-max-width: 1600px;
    --base-font-size: 2em;
    --base-spacing: 2rem;
  }
}

@media only screen and (max-width: 2560px) {
  :root {
    --page-max-width: 1070px;
    --base-font-size: 1.33em;
    --base-spacing: 1.33rem;
  }
}

@media only screen and (max-width: 1920px) {
  :root {
    --page-max-width: 800px;
    --base-font-size: 1em;
    --base-spacing: 1rem;
  }
}

@media only screen and (max-width: 1368px) {
  :root {
    --page-max-width: 900px;
    --base-font-size: 1.1em;
    --base-spacing: 1.1rem;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --page-max-width: 900px;
    --base-font-size: 1em;
    --base-spacing: 1rem;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: black;
  scrollbar-track-color: black;
}

body {
  background-color: var(--bg-color-primary);
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: calc(100vh + var(--footer-height-unstacked));
  min-width: 280px;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

@media only screen and (max-width: 750px) {
  body {
    min-height: calc(100vh + var(--footer-height-stacked));
  }
}

main,
section {
  display: block;
  width: 100%;
}

a {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--font-color-tertiary);
  padding: calc(var(--base-font-size) * 0.4);
  text-align: center;
  text-decoration: none;
  transition: border-color 0.2s;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
}

a.current-page {
  background-color: var(--bg-color-tertiary);
}

button {
  cursor: pointer;
  font-size: calc(var(--base-font-size) * 1);
  padding: calc(var(--base-spacing) * 0.5);
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  user-select: none;
}

button,
input {
  border: 1px solid transparent;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
}

button:disabled,
input[type="number"]:disabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.25;
}

.hidden {
  display: none !important;
}

.unselectable {
  user-select: none;
}
