:root {
  --navbar-height: calc(var(--base-spacing) * 4.5);
}

.navbar {
  align-items: center;
  background-color: var(--bg-color-secondary);
  box-shadow: var(--box-shadow-primary);
  display: flex;
  justify-content: center;
  left: 0;
  min-width: 280px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.navbar-elements-container {
  align-items: center;
  display: flex;
  height: var(--navbar-height);
  justify-content: space-between;
  max-width: 90%;
  width: var(--page-max-width);
}

.site-name {
  align-items: center;
  color: var(--font-color-secondary);
  display: flex;
  font-family: var(--font-family-primary);
  font-size: calc(var(--base-font-size) * 1.6);
  font-weight: bold;
  justify-content: center;
}

.navbar-items-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-item.play,
.navbar-item.your-statistics {
  margin-right: 25px;
}

.navbar-link {
  font-size: calc(var(--base-font-size) * 1);
}

.expand-navbar-items-button {
  display: none;
  position: relative;
}

.expand-navbar-items-button-strip {
  background-color: rgb(155, 155, 155);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 14%;
  margin: auto 0;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  width: 100%;
}

.expand-navbar-items-button-strip:first-child.rotated,
.expand-navbar-items-button-strip:last-child.rotated {
  left: 0;
  position: absolute;
  top: 12px;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
}

.expand-navbar-items-button-strip:first-child.rotated {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.expand-navbar-items-button-strip:last-child.rotated {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.expand-navbar-items-button-strip.rotated {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  :root {
    --navbar-expandable-responsive-menu-height: calc(var(--base-spacing) * 14);
  }

  .navbar-items-list {
    background-color: var(--bg-color-tertiary);
    box-shadow: 0 5px 5px -3px black;
    flex-direction: column;
    height: var(--navbar-expandable-responsive-menu-height);
    justify-content: space-evenly;
    left: 0;
    margin: 0;
    padding: 30px 0;
    position: absolute;
    top: var(--navbar-height);
    width: 100%;
    z-index: 100000;
  }

  .navbar-items-list.collapsed {
    display: none;
  }

  .navbar-item {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }

  .navbar-item.play,
  .navbar-item.your-statistics {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-link {
    font-size: 20px;
  }

  .expand-navbar-items-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .navbar {
    padding: 0 1.25%;
  }
}
