.game-header-container {
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: calc(var(--base-spacing) * 1);
}

.game-info-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.game-timer,
.dynamic-wpm-display {
  font-size: calc(var(--base-font-size) * 1);
  padding: calc(var(--base-spacing) * 0.5) calc(var(--base-spacing) * 1);
}

.game-timer + .tooltip-text,
.dynamic-wpm-display + .tooltip-text {
  left: 15px;
  top: 100%;
}

.game-timer,
.dynamic-wpm-display {
  align-items: center;
  color: var(--font-color-secondary);
  display: flex;
  font-family: var(--font-family-primary);
  height: fit-content;
  user-select: none;
  width: fit-content;
}

.game-timer {
  border-right: 1px solid rgb(60, 60, 60);
}

.game-action-button {
  align-items: center;
  background-color: var(--green-dark);
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--font-color-primary);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-primary);
  justify-content: center;
  opacity: 0.9;
  transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  user-select: none;
}

.game-action-button:disabled {
  border-color: var(--border-color-secondary);
}

.game-action-button:hover:not(:disabled) {
  background-color: var(--green-medium);
}

.game-container {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0;
}

.expression {
  background-color: var(--bg-color-content-panel);
  height: fit-content;
  margin-bottom: calc(var(--base-spacing) * 1);
  padding: calc(var(--base-spacing) * 1.25) calc(var(--base-spacing) * 1.5);
  user-select: none;
  white-space: pre-wrap;
}

.expression span {
  /* border-left: 0.1px solid var(--bg-color-content-panel); */
  border-right: 0.1px solid var(--bg-color-content-panel);
}

.current-char {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 0.1px solid var(--font-color-quinary);
}

.correct-char {
  color: var(--green-light);
}

.incorrect-non-whitespace-char, .incorrect-whitespace-char {
  background-color: rgba(255, 20, 0, 0.4);
  border-right: 0.1px solid var(--bg-color-content-panel);
}

.player-text-input {
  background-color: var(--bg-color-content-panel);
  height: auto;
  padding: calc(var(--base-spacing) * 0.5);
  text-align: center;
}

.player-text-input:focus {
  border-color: var(--border-color-primary);
}

.player-input-incorrect {
  background-color: rgba(255, 20, 0, 0.3);
}

.expression,
.player-text-input {
  border: 1px solid var(--border-color-secondary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--font-color-secondary);
  font-family: var(--font-family-game);
  font-size: calc(var(--base-font-size) * 1.5);
  outline: none;
  width: 100%;
}

.visual-keyboard {
  margin-top: calc(var(--base-spacing) * 1);
}

@media only screen and (max-width: 600px) {
  .expression {
    margin-bottom: 10px;
  }

  .visual-keyboard {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .expression {
    margin-bottom: 5px;
  }

  .visual-keyboard {
    margin-top: 5px;
  }
}
