.analyzed-expression {
  background-color: var(--bg-color-content-panel);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid var(--border-color-secondary);
  color: var(--font-color-tertiary);
  font-family: var(--font-family-game);
  font-size: calc(var(--base-font-size) * 1.5);
  height: fit-content;
  padding: calc(var(--base-spacing) * 1.25) calc(var(--base-spacing) * 1.5);
  user-select: none;
  white-space: pre-wrap;
  width: 100%;
}

.one-mistake {
  background-color: rgba(255, 0, 0, 0.3);
}

.two-mistakes {
  background-color: rgba(255, 0, 0, 0.6);
}

.three-or-more-mistakes {
  background-color: rgba(255, 0, 0, 0.99);
}

.one-mistake,
.two-mistakes,
.three-or-more-mistakes {
  border-right: 0.1px solid var(--bg-color-content-panel);
  color: var(--font-color-primary);
}

.one-mistake .tooltip-text,
.two-mistakes .tooltip-text,
.three-or-more-mistakes .tooltip-text {
  font-size: calc(var(--base-font-size) * 0.8);
}
