.settings-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.general-settings-column,
.expression-settings-column {
  background-color: var(--bg-color-content-panel);
  border-top: 1px solid var(--border-color-secondary);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 170px;
  padding: calc(var(--base-spacing) * 1.5);
}

.general-settings-column {
  border-bottom-left-radius: 5px;
  border-right: 1px solid var(--border-color-secondary);
}

.expression-settings-column {
  border-bottom-right-radius: 5px;
}

.setting-category-heading {
  color: var(--font-color-tertiary);
  font-size: calc(var(--base-font-size) * 1.3);
  text-decoration: underline;
}

.setting-label-input-pair-container {
  align-items: center;
  color: var(--font-color-tertiary);
  display: flex;
  font-size: calc(var(--base-font-size) * 1.1);
  font-weight: 300;
  justify-content: space-between;
  margin: calc(var(--base-spacing) * 1.5) 0;
}

label:not(.for-range-input) {
  cursor: pointer;
}

.expression-mode-settings button {
  margin: calc(var(--base-spacing) * 1.5);
  margin-left: 0;
  margin-right: calc(var(--base-spacing) * 0.5);
}

.expression-mode-settings button,
.phrase-lists-subset-container button {
  background-color: var(--bg-color-quaternary);
  border-color: var(--border-color-primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--font-color-secondary);
  font-family: var(--font-family-primary);
  font-size: calc(var(--base-font-size) * 1);
  text-align: left;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}

.phrase-lists-subset-container button:nth-child(odd) {
  margin-right: calc(var(--base-spacing) * 0.375);
}

.phrase-lists-subset-container button:nth-child(even) {
  margin-left: calc(var(--base-spacing) * 0.375);
}

.expression-mode-settings button:not(.on):hover,
.expression-mode-settings button:not(.on):focus,
.phrase-lists-subset-container button:not(.on):not(:disabled):hover,
.phrase-lists-subset-container button:not(.on):not(:disabled):focus {
  background-color: rgb(22, 22, 22);
}

.expression-mode-settings button.on:not(:disabled),
.phrase-lists-subset-container button.on:not(:disabled) {
  background-color: var(--green-dark);
  border-color: transparent;
}

.expression-mode-settings button.on:hover,
.expression-mode-settings button.on:focus,
.phrase-lists-subset-container button.on:not(:disabled):hover,
.phrase-lists-subset-container button.on:not(:disabled):focus {
  background-color: var(--green-medium);
}

.phrase-lists-container {
  border: 1px solid var(--border-color-secondary);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  height: 310px;
  max-height: 788px;
  min-height: 215px;
  overflow-y: auto;
  padding: calc(var(--base-spacing) * 1);
  padding-bottom: 0;
  resize: vertical;
}

.phrase-lists-subset-heading {
  color: var(--font-color-tertiary);
  font-size: calc(var(--base-font-size) * 1.2);
}

.phrase-lists-subset-heading.language-specific {
  color: var(--font-color-tertiary);
  font-size: calc(var(--base-font-size) * 1.2);
  margin-bottom: calc(var(--base-spacing) * 1);
}

.phrase-lists-subset-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: calc(var(--base-spacing) * 0.75) 0;
}

.phrase-lists-subset-container:last-child { /* Final row of buttons */
  margin-bottom: calc(var(--base-spacing) * 1);
}

.phrase-lists-subset-container.english,
.phrase-lists-subset-container.numbers-symbols,
.phrase-lists-subset-container.general-programming {
  margin: calc(var(--base-spacing) * 1.5) 0;
  margin-top: calc(var(--base-spacing) * 1);
}

hr.programming-language-separator {
  border: 1px solid var(--border-color-secondary);
  opacity: 0.25;
}

@media only screen and (max-width: 700px) {
  .settings-menu {
    display: flex;
    flex-direction: column;
  }

  .general-settings-column {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-right: none;
    margin: 0;
  }

  .expression-settings-column {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
