.visual-keyboard {
  background-color: transparent;
  border: none;
  height: 273px;
  max-height: 273px;
  max-width: 89%;
  overflow: auto;
  padding-bottom: 5px;
  resize: both;
  width: 800px;
}

.general-keys-container {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 798px;
}

.row {
  display: flex;
  width: 100%;
}

.square-key {
  min-height: 52px;
  min-width: 52px;
}

.rect-key {
  width: 100%;
}

.square-key, .rect-key {
  align-items: center;
  background-color: var(--bg-color-content-panel);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--font-color-tertiary);
  display: flex;
  flex-direction: column;
  font-size: calc(var(--base-font-size) * 1);
  font-weight: 500;
  justify-content: space-between;
  padding: 4px;
}

.square-key.blank, .rect-key.blank {
  color: transparent;
}

.backquote-key {
  border-top-left-radius: 5px;
}

.backspace-key {
  border-top-right-radius: 5px;
}

.tab-key {
  min-width: 75px;
  width: 75px;
}

.caps-lock-key {
  min-width: 90px;
  width: 90px;
}

.caps-lock-key.active {
  background-color: rgba(255, 0, 255, 0.25);
}

.shift-left-key {
  min-width: 115px;
  width: 115px;
}

.control-left-key {
  border-bottom-left-radius: 5px;
  min-width: 75px;
  width: 75px;
}

.alt-left-key {
  min-width: 65px;
  width: 65px;
}

.space-key {
  min-width: 357px;
  width: 357px;
}

.alt-right-key {
  min-width: 65px;
  width: 65px;
}

.control-right-key {
  border-bottom-right-radius: 5px;
}

.square-key.pressed, .rect-key.pressed, .caps-lock-key.pressed {
  background-color: var(--bg-color-quinary);
  border: 1px solid var(--border-color-primary);
}

.general-keys-container .row:not(:last-child) {
  margin-bottom: 2px;
}

.row .square-key:not(:last-child), .row .rect-key:not(:last-child) {
  margin-right: 2px;
}

[data-digit-key] {
  font-size: calc(var(--base-font-size) * 0.9);
}

[data-symbol-key]:not(.backquote-key) {
  font-size: calc(var(--base-font-size) * 1.1);
  justify-content: space-between;
}

[data-symbol-key][data-bracket-key] {
  font-size: calc(var(--base-font-size) * 1);
  justify-content: space-around;
}

[data-function-key]:not(.backspace-key) {
  font-size: calc(var(--base-font-size) * 0.9);
  justify-content: flex-start;
}

[data-function-key] .second-label, .backspace-key {
  font-size: calc(var(--base-font-size) * 1.3);
}
